.content-icon-cart {
  width: max-content;
  position: relative;
}

.content-icon-cart img {
  width: 32px;
}

.quantity-badge {
  background-color: #f71963;
  position: absolute;
  right: 18px;
  top: -7px;
  font-size: 13px;
  width: 20px;
  padding: 0 6px;
  color: #ffff;
  border-radius: 50px;

}

/* Large devices (large desktops) */
@media only screen and (min-width: 1024px) {
  .content-icon-cart {
    position: absolute;
    right: 15px;
  }

  .content-icon-cart img {
    width: 35px;
  }
}

/* Extralarge devices (extralarge desktops and TV's) */
@media only screen and (min-width: 1400px) {}