.container-detail-product {
  width: 60%;
  margin: 20px auto;
}

.container-image-detail img {
  width: 100%;
  border-radius: 10px;
}

.container-image-detail {
  margin-bottom: 10px;
}

.name-detail {
  font-family: Signika, sans-serif;
  font-weight: 600;
  font-size: 25px;
  line-height: 109.5%;
  color: #474747;
}

.price-detail {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 17px;
  align-items: center;
  letter-spacing: -.01em;
  color: #00a160;
}

/* Medium devices (Tablet and small desktops) */
@media screen and (min-width: 640px) {}

/* Large devices (large desktops) */
@media only screen and (min-width: 1024px) {
  .container-detail-product {
    width: 35%;
  }

}

/* Extralarge devices (extralarge desktops and TV's) */
@media only screen and (min-width: 1400px) {}