/* #region Concepts */
/* 
    # Info
    Este template es para que puedas estructurar tu código con la mentalidad/paradigma de Mobile first,
    donde empiezas con los estilos y estructuras desde mobile, luego a base de media queries (que están abajo)
    se dá el diseño para tablet, desktop y TVs. 

    # Objetivo
    La gracia de usar esta plantilla para sobreescribir estilos a base de especificación de cascada, por lo que si
    escribes muchas media queries o muchos !important esta metodología no funcionará
    
    # Recomendaciones
    * Trata de usar las media queries que ya están, si necesitas una créala pero que tenga sentido el crearla
    * Si quieres sobre escribir algo a fuerza como última opción escríbelo en los Hard Overrides y SOLO si es
    necesario usa el !important
*/
/* #endregion */

/* #region Overrides && Mobile */

/* #endregion */
/* #region  Media Queries */


.card-deck{
  display: flex;
  flex-wrap: wrap;
}
.card{
  width: 48%;
  margin-right: 2%;
  margin-bottom: 4%;
}

.img-product{
  width: 100%;
}


/* Medium devices (Tablet and small desktops) */
@media screen and (min-width: 640px) {
}

/* Large devices (large desktops) */
@media only screen and (min-width: 1024px) {
}

/* Extralarge devices (extralarge desktops and TV's) */
@media only screen and (min-width: 1400px) {
}
/* #endregion */

/* #region  Hard Overrides */

/* #endregion */





